<!DOCTYPE html>
<html>
<head>
    <title>Zone Monitor</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="/">Zone Monitor</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" href="/">Queue</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/all">All domains</a>
        </li>
    </ul>
    <form class="form-inline my-2 my-lg-0" action="/push" method="POST">
        <input type="hidden" name="from-ui" value="1">
        <input class="form-control mr-sm-2" type="search" placeholder="Watch domain" aria-label="Watch domain">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Add to watchlist</button>
    </form>
</nav>
<div class="container">
    {% block content %}{% endblock %}
</div>
</body>
</html>
