<!DOCTYPE html>
<html>
<head>
    <title>Zone Monitor</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="navbar navbar-fixed-top">
    <div class="navbar-header pull-left">
      <a class="navbar-brand" href="/">Zone Monitor</a>
    </div>
    <div class="navbar-header pull-right">
      <a href="/" class="btn btn-default navbar-btn">Suspicious</a>
      <a href="/malicious" class="btn btn-default navbar-btn">Malicious</a>
      <a href="/all" class="btn btn-default navbar-btn">All domains</a>
    </div>
    <form class="form-inline my-2 my-lg-0" action="/push" method="POST">
        <input type="hidden" name="from-ui" value="1">
        <input class="form-control mr-sm-2" type="text" name="domain" placeholder="Watch domain" aria-label="Watch domain">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Add to watchlist</button>
    </form>
</div>
<div class="container">
    {% block content %}{% endblock %}
</div>
</body>
</html>
