{% extends "_layout.html" %}

{% block content %}
    <h1>Suspicious domains</h1>
    {% for domain in domains %}
        <div class="card">
            <div class="card-body">
                <h2><a href="http://{{ domain.name }}">{{ domain.name }}</a></h2>
                <form action="/set_status/{{ domain.uid }}" method="POST">
                    <button class="btn btn-success" name="status" value="checked-legitimate">Legitimate</button>
                    <button class="btn btn-warning" name="status" value="check-later">Re-check later</button>
                    <button class="btn btn-danger" name="status" value="malicious">Malicious</button>
                </form>
                <img src="/static/screenshots/{{ domain.uid }}/screenshot.png">
            </div>
        </div>
    {% endfor %}

{% endblock %}

